:root {
    background-color: rgb(80,80,80);
}

ul {
    list-style-type:none;
    padding: 0;
}

@font-face{
    font-family: 'Roboto';
    src: URL("/assets/fonts/Roboto-Medium.ttf") format('truetype');
}

.nav-bar {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.nav-bar .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    height: 80px;
    width: 100%;
  }

.nav-bar .nav-menu {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.nav-bar .nav-link{
  display: grid;
  align-items:center;
  position:relative;

}

.nav-bar .nav-link a{
  color:white;
  margin: .2rem 1rem;
  text-decoration: none;
  border-radius: .5rem;
  padding: .1rem .1rem;

}


.nav-bar .nav-link:hover a{
  background-color: rgb(40,40,40);
}



.nav-bar .nav-hover {
  visibility: hidden;
  background: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 3px 3px;
  font-family: "Roboto";
  z-index: 1;
  font-size: 0.8rem;
  position:absolute;
  left:0;
  right:0;
  margin-inline:auto;
  width: fit-content;
  margin-top: 3.5rem;
}


.nav-bar .nav-link:hover .nav-hover{
  visibility: visible;
}


/* Introduction related */
.intro-container {
  display: flex;
  z-index: 20;
  top: 100px;
  position:relative;
  padding: 5rem 15rem;
}

.intro-greeting {
  background: blue;
}

.intro-card {
  background: rgb(140,140,140);
  padding: 3rem 3rem;
  border-radius: 3rem;
  box-shadow: 3px 3px 5px 1px rgb(40,40,40);
}

.intro-card:hover {
  box-shadow: 3px 3px 5px 1px rgb(20,20,20);
}

.intro-card img{
  max-width: 20rem;
  height:auto;
}